<%# Search bar %>

<div class="best-business-container">
  <div class="best-business-content">
    <h2>Find the Best Businesses in Town</h2>
    <div class="best-business-types">
      <h4>Bakeries</h4>
      <h4>Coffee Shops</h4>
      <h4>Restaurants</h4>
      <h4>Bars</h4>
    </div>
  </div>
</div>
